CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Testing/
cmake_install.cmake*
build/*
compile
depcomp
install-sh
missing
aclocal.m4
Makefile.in
configure
Makefile
.deps/*
tests/.deps*
src/.deps*
config.log
config.status
autom4te.cache/*
configure.scan
.DS_Store*
*.dirstamp
*.o*
*~
*.vtk
*.orig
*.tar.gz
*.bkp
*.log
*.cc~
*.h~
*.cc#
*.h#
*.tcc~
*.tcc#
*.gcda*
*.gcno*
*coverage.info*
src/*#
include/*#
doc/*
*.swp*
lbmdem
lbmdemtest
lcov/*
